<template>
    <Layout>
        <div class="w-full md:w-1/2 mx-auto my-2">
            <form v-on:submit.prevent="submitNewTask" class="mb-6">
                <label for="newTodo" class="sr-only">Add new todo</label>
                <div class="w-full flex justify-between">
                    <input v-model="newTodo" type="text" id="newTodo" placeholder="Add new todo" class="form-input w-full max-w-sm"/>
                    <button type="submit" class="w-full max-w-xs ml-5 text-blue-700 border border-blue-400 rounded px-2 py-1 hover:bg-blue-200">Add new todo</button>
                </div>
            </form>
            <ul>
                <li v-for="todo in todos" v-bind:key="todo.id" class="flex items-center">
                    <TodoItem v-bind="todo"></TodoItem>
                </li>
            </ul>
        </div>
    </Layout>
</template>

<script>
  import VueType from 'vue-types';
  const props = {
      messages: Array,
      errors: Object,
      data: VueType.shape({
        content: VueType.arrayOf(VueType.shape({
          id: VueType.integer,
          finished: VueType.bool,
          title: VueType.string,
          createdAt: VueType.string,
          links: VueType.arrayOf(VueType.shape({
            href: VueType.string,
            rel: VueType.string
          })),
        })),
        links: VueType.arrayOf(VueType.shape({
          href: VueType.string,
          rel: VueType.string
        })),
      })
    }
  import { value, provide } from 'vue-function-api';
  import TodoItem from '../../Components/Todo/TodoItem.vue';
  import Layout from '../../Shared/Layout.vue';

  export default {
    props: props,
    components: {
      TodoItem,
      Layout
    },
    setup(props, ctx) {
      const newTodo = value("");
      const newTodoUrl = props.data.links.filter(link => link.rel === "add")[0];
      const submitNewTask = () => {console.log(newTodoUrl.href)};
      const reloadPage = () => { ctx.root.$inertia.reload() };

      provide({"logOutUrl": "/security/logout"});

      return {
        todos: props.data.content,
        newTodo,
        submitNewTask,
        reloadPage
      }
    }
  }
</script>

<style scoped>

</style>
