<template>
    <span>
        <input type="checkbox" v-bind:id="id" v-bind:checked="done" v-on:click="toggleDone" class="form-checkbox" />
        <label v-bind:for="id" class="ml-2">{{ title }}</label>
    </span>
</template>

<script>
  import { value } from 'vue-function-api';
  import VueType from 'vue-types';
  import Axios from 'axios';
  export default {
    props: {
      id: VueType.integer,
      finished: VueType.bool,
      title: VueType.string,
      createdAt: VueType.string,
      links: VueType.arrayOf(VueType.shape({
        href: VueType.string,
        rel: VueType.string
      }))
    },
    setup(props, ctx) {
      const done = value(props.finished);
      const selfLink = props.links.filter(link => link.rel === 'self')[0];
      const toggleDone = () => {
        const newState = !done.value;
        Axios.patch(selfLink.href, {status: newState})
          .then(response => {
            done.value = !done;
            console.log("Updated finished status for todo:" + props.id + " to:" + newState);
          })
      };

      return {
        done,
        toggleDone
      }
    }
  }
</script>

<style scoped>

</style>
