<template>
    <main>
        <header class="flex justify-between">
            <span>Test App</span>
            <form v-bind:action="logOutUrl" method="post">
                <input type="hidden" name="_csrf" v-bind:value="token">
                <button type="submit" class="uppercase">Log Out</button>
            </form>
        </header>

        <article>
            <slot />
        </article>
    </main>
</template>

<script>
import { inject } from 'vue-function-api';
import { getCookie } from '../utils/Cookies.js'
export default {
  setup(props, ctx) {
    const logOutUrl = inject("logOutUrl");
    return {
      logOutUrl,
      token : getCookie('XSRF-TOKEN'),
    }
  }
}
</script>
