<template>
    <main class="h-full min-h-full w-full min-w-full p-2">
        <div v-if="invalidInput"
                class="bg-red-100 text-center text-lg text-red-800 border rounded border-red-300 my-2 p-2 md:w-1/3 md:mx-auto"
                role="alert">
            Invalid contact or password
        </div>

        <div v-if="loggedOut"
                class="bg-blue-100 text-blue-800 text-center text-lg border border-blue-300 rounded my-2 p-2 md:w-1/3 md:mx-auto"
                role="alert">
            You have been logged out.
        </div>

        <h1 class="text-center text-3xl my-6">Log In</h1>

        <form v-bind:action="logInUrl" name="log-in" method="post"  class="md:border md:p-8 rounded md:shadow md:w-1/3 md:mx-auto">
            <input type="hidden" name="_csrf" v-bind:value="csrfToken">
            <label class="mb-4">
                <span class="form-label mb-2">Username</span>
                <input name="username" type="text" required="required" class="form-input" />
            </label>

            <label class="mb-4">
                <span class="input-label">Password</span>
                <input name="password" type="password" placeholder="Password" class="form-input" required="true" />
            </label>
            <button type="submit" class="w-full uppercase text-sm tracking-wider border border-blue-400 rounded px-2 py-1 hover:bg-blue-200">Log In</button>
        </form>

        <p class="mt-6 md:w-1/3 md:mx-auto">To create account contact <strong>Walu Life</strong> at:
            <a href="tel:+254771634534" class="underline">+254 771 634534</a>
        </p>
    </main>
</template>

<script>
    import { value } from 'vue-function-api';
    import VueType from 'vue-types';
    import { linkFromResource } from '../../utils/LinkGetter';
    import { getCookie } from '../../utils/Cookies';

export default {
  props: {
    messages: Array,
    errors: Object,
    data: VueType.shape({
      loggedOut: {
        type: Boolean,
        required: true,
      },
      invalidInput: {
        type: Boolean,
       required: true,
      },
      links: VueType.arrayOf(VueType.shape({
        href: VueType.string,
        rel: VueType.string
      }))
    })
  },
  setup(props, ctx) {
    return {
      logInUrl: linkFromResource(props.data, "login"),
      csrfToken: getCookie('XSRF-TOKEN'),
      invalidInput: props.data.invalidInput,
      loggedOut: props.data.loggedOut
    }
  }
}
</script>
