<template>
    <main>
        <h1 class="text-lg">Security usernames</h1>
        <p class="mt-2">Current username: {{ currentUsername }}</p>
        <form action="#" class="w-1/2 mx-auto" v-on:submit.prevent="changeUsername">
            <label for="username" class="form-label">Change username</label>
            <input type="text" id="username" class="w-full form-input" v-model="newUsername" />
            <button class="w-full mt-2 uppercase border border-blue-300 rounded text-blue-500 hover:bg-blue-200">Change username</button>
        </form>
    </main>
</template>

<script>
    import VueType from 'vue-types';
    import { value } from 'vue-function-api';
    import { linkFromResource } from '../../utils/LinkGetter';

    const props = {
      errors: VueType.object,
      messages: VueType.array,
      data: VueType.shape({
        username: VueType.string,
        links: VueType.arrayOf(VueType.shape({
          href: VueType.string,
          rel: VueType.string
        }))
      })
    }

  export default {
    props: props,
    setup(props, ctx) {
      const newUsername = value("");
      const changeUsernameUrl = linkFromResource(props.data, 'self');
      const changeUsername = () => {
        ctx.root.$inertia.post(changeUsernameUrl, {userName: newUsername.value});
      }
      return {
        newUsername,
        currentUsername: props.data.username,
        changeUsername
      }
    }
  }
</script>

<style scoped>

</style>
