<template>
    <layout>
        <h1>Welcome</h1>
        <p>Welcome to my first Inertia.js app!</p>
    </layout>
</template>

<script>
import Layout from '@/Shared/Layout'

export default {
    components: {
      Layout,
    },
}
</script>
